body {
    background-color: $color-background;
    font-family: 'Electrolize', sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    font-family: 'Teko', sans-serif;
    color: white;
}

h2, h3 {
    font-family: 'Teko', sans-serif;
}