.container {
    background-color: $color-container;
    color: white;
    padding: 5px;
    padding-bottom: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.container-paragraph {
    margin: 20px;
}

.container_title {
    text-align: center;
    padding: 10px;
    margin: 20px;
    text-decoration: underline;
    text-decoration-color: $color-purple;
}

.container-contact {
    
}

.form {
    margin: 5px;
    padding: 5px;
    background-color: $color-background;
    color: white;
    border: none;
}

.form_submit {
    margin: 5px;
}

.skills {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.container_list {
    list-style-type: none;
}

.hr-container {
    position: relative;
    right: 150px;
}

.interet {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.interet-h3 {
    text-align: center;
}

.icon {
    max-width: 100px;
    height: 80px;
}

.container-diplome {
    position: relative;
}

@media (min-width: 990px) {
    .main-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(7, 1fr);
        column-gap: 10px;
        grid-template-areas: 
        "info exp"
        "form skil"
        "int nouv"
        "cont cont"
    }

    .container-info {
        grid-area: info;
    }

    .container-experience {
        grid-area: exp;     
    }

    .container-diplome {
        grid-area: form;
    }

    .container_skills {
        grid-area: skil;
    }

    .container-interet {
        grid-area: int;
    }

    .container-nouv {
        grid-area: nouv;
    }

    .container-contact {
        grid-area: cont;
    }

    .interet {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 50px;
    }

    // .separator {
    //     position: relative;
    // }

    .icon {
        max-width: 100px;
    }
}

@media (min-width: 1200px) {
    .main-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        column-gap: 10px;
        grid-template-areas: 
        "info exp form"
        "skil int nouv"
        "cont cont cont"
    }

    .container-info {
        grid-area: info;
    }

    .container-experience {
        grid-area: exp;     
    }

    .container-diplome {
        grid-area: form;
    }

    .container_skills {
        grid-area: skil;
    }

    .container-interet {
        grid-area: int;
    }

    .container-nouv {
        grid-area: nouv;
    }

    .container-contact {
        grid-area: cont;
    }

    .interet {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 50px;
    }

    // .separator {
    //     position: relative;
    // }

    .icon {
        max-width: 100px;
    }
}

@media (min-width: 1500px) {
    .main-container {
        display: grid;
        grid-template-columns: repeat(3, 500px);
        grid-auto-rows: repeat(3, 500px);
        justify-content: space-around;
        align-content: space-between;
    }

    .container-info {
        grid-column: 1;
        grid-row: 1;
    }

    .container-experience {
        grid-column: 2;
        grid-row: 1;        
    }

    .container-diplome {
        grid-column: 2;
        grid-row: 2;   
    }

    .container_skills {
        grid-column: 3;
        grid-row: 2; 
    }

    .container-interet {
        grid-column: 3;
        grid-row: 1;
    }

    .container-nouv {
        grid-column: 1;
        grid-row: 2;
    }

    .container-contact {
        grid-column: 1 / 4;
        grid-row: 3;
        height: 400px;
    }

    .interet {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 50px;
    }

    .icon {
        max-width: 100px;
    }
}