.container {
    background-color: $color-container;
    color: white;
    padding: 5px;
    padding-bottom: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.container-paragraph {
    margin: 20px;
}

.container_title {
    text-align: center;
    padding: 10px;
    margin: 20px;
    text-decoration: underline;
    text-decoration-color: $color-purple;
    }

.container_form {
    text-align: center;
}

.form {
    margin: 5px;
    padding: 5px;
    background-color: $color-background;
    color: white;
    border: none;
}

.form_submit {
    margin: 5px;
}

.skills {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.cube {
    background-color: $color-purple;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.container_list {
    list-style-type: none;
}

.hr-container {
    position: relative;
    right: 150px;
}

.interet {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.interet-h3 {
    text-align: center;
}

.icon {
    max-width: 100px;

}

.container-diplome {
    position: relative;
}

@media (min-width: 990px) {
    .main-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: repeat(3, 500px);
        justify-content: space-around;
        align-content: space-between;
    }

    .container-info {
        grid-column: 1;
        grid-row: 1;
    }

    .container-experience {
        grid-column: 2;
        grid-row: 1;        
    }

    .container-diplome {
        grid-column: 2;
        grid-row: 2;   
    }

    .container_skills {
        grid-column: 1;
        grid-row: 3; 
    }

    .container-interet {
        grid-column: 2;
        grid-row: 2;
    }

    .container-nouv {
        grid-column: 2;
        grid-row: 3;
    }

    .container-contact {
        grid-column: 1 / 4;
        grid-row: 4;
        height: 400px;
    }

    .interet {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 50px;
    }

    .separator {
        position: relative;
    }
}

@media (min-width: 1510px) {
    .main-container {
        display: grid;
        grid-template-columns: repeat(3, 500px);
        grid-auto-rows: repeat(3, 500px);
        justify-content: space-around;
        align-content: space-between;
    }

    .container-info {
        grid-column: 1;
        grid-row: 1;
    }

    .container-experience {
        grid-column: 2;
        grid-row: 1;        
    }

    .container-diplome {
        grid-column: 2;
        grid-row: 2;   
    }

    .container_skills {
        grid-column: 3;
        grid-row: 2; 
    }

    .container-interet {
        grid-column: 3;
        grid-row: 1;
    }

    .container-nouv {
        grid-column: 1;
        grid-row: 2;
    }

    .container-contact {
        grid-column: 1 / 4;
        grid-row: 3;
        height: 400px;
    }

    .interet {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 50px;

    }
}